/* @import */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* Variable Storage */
:root {
    --hb-gray: #515151;
    --hb-darkblue: #212b3a;
    --hb-lightblue: #a8c7e3;
    --hb-offwhite: #e3ebee;

    /* --test-satellitecolour: #212b3a; */
    --test-satellitecolour: #e3ebee;
    
    --hb-boxshadow: 0px 0px 15px 9px rgba(0, 0, 0, 0.25);
}

/* Root Definitions */
body {
    font-family: "Josefin Sans", sans-serif;

    font-size: 12px;

    background-color: var(--hb-darkblue);
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 2em;
}

p {

}


.hidden {
    display: none;
}

.invis {
    opacity: 0;
}


/*        */
/* Header */
/*        */

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* persistent pontent */
.navbar {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;

    color: rgba(0, 0, 0, 0);

    padding: 2em;
}

.menu-button {
    color: white;
    font-size: 3em;
    align-content: center;
    margin-right: 0.5em;
}

.menu-button:hover {
    cursor: pointer;
}

/* small header - no hero */
.bar-head {
    background-color: var(--hb-gray);
}

.bar-head i {
    color: var(--hb-lightblue);
}

.logo {
    background-image: url(../img/Asset\ 2.svg);
    background-repeat: no-repeat;
}

/* removes other large header content when small header */
.bar-head > .hero-content, .hero-action {
    display: none;
}

/* large header - with hero */
.hero-head {
    height: 100dvh;
    
    /* background-image: url("../img/LachieProject-14.jpg"); */
    background-image: url("../img/LachieProject-37.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    box-shadow: var(--hb-boxshadow);
}

.hero-head > .navbar h1 {
    opacity: 0;
}

.hero-head > .navbar i {
    color: var(--test-satellitecolour);
}

.hero-head > .hero-content img {
    width: 15em;
    padding-left: 5%;
}

.hero-head > .hero-content {
    display: flex;

    color: var(--hb-offwhite);

    align-items: center;
}

.hero-head > .hero-content .logo-text {
    padding-left: 3em;
}

.hero-head > .hero-content .logo-text h2 {
    font-size: 7em;
    font-weight: 700;
}

.hero-head > .hero-content .logo-text h2:last-child {
    font-size: 4em;
    letter-spacing: 0.2em;

    color: var(--hb-lightblue);
}

.hero-head > .hero-action {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 3em;

    color: var(--test-satellitecolour);
}

.hero-head > .hero-action i {
    font-size: 1.5em;
    padding: 0em 0.5em 0.2em 0.5em;

    color: var(--test-satellitecolour);
}


/*        */
/* Footer */
/*        */

footer {
    display: flex;
    justify-content: space-between;

    background-color: var(--hb-gray);
    color: var(--hb-lightblue);

    padding: 3em 7em 3em 2em;

    box-shadow: var(--hb-boxshadow);
}

.foot-img {
    width: 20%;
}

.foot-content {
    width: 60%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.foot-links {
    display: flex;
    justify-content: space-between;

    padding-bottom: 2em;
}

.foot-rights {
    display: flex;
    justify-content: space-between;

    font-size: 0.7em;
    font-weight: 400;

    align-items: center;
}

.foot-social {
    display: flex;
    justify-content: space-between;
}

.foot-social > i {
    width: 2.5em;
    font-size: 2.5em;
}



/*             */
/* Body - Home */
/*             */

.body-home {
    
}

.home-about {
    display: flex;

    min-height: 20dvh;

    padding: 8em;

    font-weight: 600;
    color: var(--hb-offwhite);
}

.home-portrait {
    width: 45%;
    padding-right: 5em;
}

.home-bio {
    padding: 3em;
}

.home-bio h1 {
    font-size: 3.5em;
}

.home-bio h2 {
    color: var(--hb-lightblue);

    padding-top: 0.5em;
}

.home-bio p {
    font-size: 1.4em;
    font-weight: 400;

    line-height: 1.3em;

    padding: 2em 0em;
}

.home-gallery {
    display: grid;
    /* width: 100dvw; */

    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
    row-gap: 2em;
    column-gap: 2em;

    object-fit: contain;

    padding: 3em;

    background-color: var(--hb-gray);
    color: var(--hb-lightblue);
    
    box-shadow: var(--hb-boxshadow);
}

.home-gallery img {
    max-width: 100%;
}

.home-portfolio {
    min-height: 20dvh;
}